body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para exibir postagens como miniaturas */
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* centralizar a imagem dentro da div .post */
}

/* Limpar a flutuação para evitar problemas de layout */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
